<div>
    <div class="home-center">
        <h1>Welcome to planning poker!</h1>
        <br>
        <br>
        <form class="home-center" name="form" role="form" (ngSubmit)="createMeeting()" #settingsForm="ngForm" novalidate>
                <div class="form-group">
                    <label class="form-control-label">Create new planning poker meeting</label>
                    <input type="text" class="form-control" id="meetingName" name="meetingName" placeholder="Give the meeting a name"
                           [(ngModel)]="meeting.name" minlength=1 maxlength=50 #meetingNameInput="ngModel" required>
                    <div *ngIf="meetingNameInput.dirty && meetingNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="meetingNameInput.errors.required">
                            The meeting name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="meetingNameInput.errors.minlength">
                            The meeting name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="meetingNameInput.errors.maxlength">
                           The meeting name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Create meeting</button>
            </form>
    </div>
</div>